$monasans: 'Mona Sans';

@font-face {
  font-family: $monasans;
  src: url('/fonts/Mona-Sans-Regular.otf');
  font-size: normal;
  font-style: normal;
}

@font-face {
  font-family: Larken;
  src: url('/fonts/larken-bold.ttf');
  font-size: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf');
  font-size: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rogan';
  src: url('/fonts/Rogan-Bold.otf');
  font-size: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rogan Regular';
  src: url('/fonts/Rogan-Regular.otf');
  font-size: normal;
  font-style: normal;
}


