@font-face {
  font-family: Larken;
  src: url('/fonts/larken-bold.ttf');
  font-size: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/Mona-Sans-Medium.otf');
  font-size: normal;
  font-style: normal;
}
