@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';

@import './_font';

@layer base {
  @import './base';
}

@layer components {
  @import './buttons';
  @import './form';
  @import './dialog';
}

@layer utilities {
  @import './utilities';
}

@import './custom';
@import './global';
@import './content';
